<div class="loginContainer">  
  <div class="container">  
    <div class="row justify-content-md-center">      
      <div class="col-md-3"> 
        <div class="avatarFrameoffiline marto15 marbo15">
          <img src="assets/img/generic_avatar.png"class="avatarImage img-fluid" />       
        </div>     
      </div>   
    </div> 
    <div class="row justify-content-md-center">  
      <div class="col-md-6">
        <div class="center">

        </div>

      </div>
    </div>
  </div>  
</div>
